
<nav class="navbar py-0" style="background-color: #dce1f6;">
  <div class="container-fluid">
    <nav class="nav">
      <%= link_to 'Home', root_path, class:"nav-link", style: "color: #383838;"%>
      <%= link_to 'Login', login_path, class:"nav-link", style: "color: #383838;"%>
      <a class="nav-item nav-link disabled" href="#">Appointments</a>
    </nav>
    <a class="navbar-brand ms-auto">
      <%= image_tag 'logobannertext.png', alt: 'My Logo', style: 'max-width: 115px;' %>
    </a>
  </div>
</nav>