<div class="container">
  <div class="jumbotron">
    <br>
    <h1 style="font-family: 'sanserata', sans-serif;">Welcome to the Dashboard</h1>
    <p class="lead">Log in to get started</p>
  </div>
</div>