<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to My Website</h1>
    <p class="lead">This is a new page generated with Rails and styled with Bootstrap!</p>
  </div>
</div>