<div class="container">
  <div class="jumbotron">
    <br>
    <h1 class="display-4">Welcome to the dashboard</h1>
    
    <% if user_signed_in? %>
      <p>You're currently logged in!</p>
    <% else %>
      <p class="lead">Log in to get started</p>
      <button type="button" class="btn btn-primary">
        <%= link_to 'Login', new_user_session_path, class:"btn"%>
      </button>
    <% end %>

  </div>
</div>